<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Crea tu publicación</h5>
    </div>
    <div class="modal-body">
      <form #asd id="postsForm">
        <div class="form-group">
          <input type="text" class="form-control" id="postTitle" placeholder="Título"
                 name="title" [(ngModel)]="postModel.title">
          <div id="postTitleMessage" hidden="true" class="invalid-feedback">
            Título es requerido.
          </div>
          <textarea type="text" class="form-control" id="postText" placeholder="Escribe una descripción"
                    name="text" [(ngModel)]="postModel.text"></textarea>
          <div id="postTextMessage" hidden="true" class="invalid-feedback">
            Descripción es requerida.
          </div>
          <h5 class="modal-title" id="ModalLabel" style="margin-top: 30px">¿Cuáles preferencias definen tu publicación?</h5>
          <div *ngFor="let preference of preferences" class="custom-control custom-checkbox custom-control-inline">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" value="{{preference.id}}" name="tags" id="{{preference.id}}">
              <label class="custom-control-label" for="{{preference.id}}">{{preference.name}}</label>
            </div>
          </div>
          <div id="tagsMessage" hidden="true" class="invalid-feedback">
            Al menos una preferencia es requerida.
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button (click)="toggleEditable(asd); submitedData()" type="submit" class="btn btn-secondary">Publicar</button>
      <button routerLink="../General" type="button" class="btn btn-primary">Atrás</button>
    </div>
    <div id="successAlert" hidden="true" class="alert alert-success" role="alert">
      ¡Publicado exitosamente!
    </div>
    <div id="dangerAlert" hidden="true" class="alert alert-danger" role="alert">
      ¡Por favor llenar los espacios vacíos!
    </div>
    <div id="warningAlert" hidden="true" class="alert alert-warning" role="alert">
      Publicación con dicho título ya registrada.
    </div>
  </div>
</div>


